.title{
    background-color: antiquewhite;
    color:green;
    height: 30px;
    border-radius: 13px;
    width : 50%;
    margin: 15px auto;
    text-align: start;
    padding : 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}


.delete {
    background-color: red;
    border-radius: 10px;
    text-align: end;
    border: 0;
    color : white;
}

.input {
    background-color: transparent;
    border: 0;
}

.input:focus {
    outline: none;
    background-color: lightgreen;
}